@media only screen and (max-width: 768px) {
  .links-container {
    display: none;
    width: 0%;
  }

  .maiden-container {
    width: 100%;
    border: none;
  }

  .history-container {
    display: none;
    width: 0%;
  }

  .main-container {
    margin-top: 200px !important;
  }

  .maiden {
    font-size: 70px;
    font-weight: 500;
  }

  .bottom {
    width: 55% !important;
  }

  .barcode-container {
    height: 10px !important;
    width: 100% !important;
    border-radius: 5px !important;
    margin-right: 15px;
    background-color: #ebebeb;
  }

  .bottom-wrapper{
    display: flex;
    flex-direction: column;
  }

  .start-container {
    width: 35% !important;
  }

  .history-content-container {
    display: none;
  }

  .link-content-container {
    display: none;
  }

  .ai-response-container {
    width: 100%;
  }

  .response {
    margin: 15px;
  }

  .question-ai {
    font-size: 20px;
  }

  .answer {
    margin: 0;
    font-size: small;
  }

  .continue {
    font-size: small;
  }
}
