@media only screen and (max-width: 768px) {
  .links-container {
    display: none;
    width: 0%;
  }

  /* main {
    display: flex !important;
    justify-content: center !important;
  } */

  .maiden-container {
    width: 100%;
    border: none;
  }

  .history-container {
    display: none;
    width: 0%;
  }

  .team-name {
    font-size: 10px;
  }

  .desc-content {
    font-size: 10px;
  }

  .main-container {
    margin-top: 250px !important;
  }

  .maiden {
    font-size: 60px;
    font-weight: 500;
  }

  .start {
    font-size: 12px !important;
  }

  .bottom {
    width: 55% !important;
  }

  .barcode-container {
    color: #0f0f0f00;
    height: 20px !important;
    width: 100% !important;
    border-radius: 3px !important;
    margin-right: 15px;
    margin-bottom: 10px !important;
    background-color: #ebebeb;
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }

  .start-container {
    width: 55% !important;
  }

  .history-content-container {
    display: none;
  }

  .link-content-container {
    display: none;
  }

  .ai-response-container {
    width: 100%;
  }

  .response {
    margin: 15px;
  }

  .question-ai {
    font-size: 20px;
  }

  .answer {
    margin: 0;
    font-size: small;
  }

  .continue {
    font-size: small;
  }
}
